attrs~=19.3
certifi~=2023.7
cffi~=1.15
chardet~=3.0
click~=8.0
cryptography~=42.0
Flask~=2.2
idna~=2.9
importlib-metadata~=3.6
itsdangerous~=2.0
Jinja2~=3.1
jsonschema~=3.2
MarkupSafe~=2.1
pycparser~=2.20
pyOpenSSL~=19.1
pyrsistent~=0.16
PyYAML~=6.0
requests~=2.31
six~=1.15
templating~=0.5
urllib3~=1.26
Werkzeug~=3.0
zipp~=3.1
