<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link media="screen" href="{{ url_for('static', filename='css/main.css')}}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='images/favicon.ico')}}" rel="shortcut icon" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/common.js')}}"></script>
    <title>Agentless Integration Kit Python Sample SP</title>
</head>
<body>
{% block body %} {% endblock %}
</body>
</html>
